:root {
  --a1: #3270ED;
  --a2: #1D335D;
  --a3: #CC5A71;
  --a4: #543856;
  --bg: #D3D6DC;
  --fg: #E5E7EB;
  --sg: #F2F3F5;
  --p1: #000000;
  --p2: #313c53;
  --hl: #00000033;
  --br: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --a1: #3270ED;
    --a2: #1D335D;
    --a3: #CC5A71;
    --a4: #543856;
    --bg: #2A2D34;
    --fg: #3D4046;
    --sg: #4F5157;
    --p1: #FFFFFF;
    --p2: #7D9EDF;
    --hl: #ffffff33;
    --br: 8px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  line-height: 2em;
}

nav a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav {
  height: 100vh;
  background: var(--a1);
  display: inline-block;
  padding: 0.5em 1em;
  width: 25vw;
  color: var(--a2);
  vertical-align: top;
}
nav ul {
  width: 100%;
}

nav li {
  list-style: none;
  color: currentColor;
  font-weight: bold;
  margin: 0.25em 0;
  display: block;
}

nav a, nav button, input {
  transition: all 200ms ease-in-out;
  border-radius: var(--br);
  display: block;
  text-align: left;
  background: none;
  font-size: 1em;
}

nav a:hover, button:hover, input:not(:focus):hover {
  background: var(--hl) !important;
}

.svg-wrap {
  position: absolute;
  pointer-events: none;
  transform: translate(0, -2.5em);
  transition: fill 200ms ease-in-out;
}

a svg, button svg, .svg-wrap svg {
  height: 1em;
  vertical-align: -0.125em;
  fill: currentColor;
  margin-right: 0.75em;
}

nav a.active, nav :focus {
  background: var(--a2) !important;
  color: var(--p1) !important;
}

nav input:focus + .svg-wrap {
  color: var(--p1) !important;
}

nav li > :not(hr) {
  padding: 0.25em 0.75em;
}

input[type="search"] {
  background: none;
  border: none;
  color: var(--a2) !important;
  outline: none !important;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  width: 100%;
  padding-left: 2.5em;
}

input[type="search"]:focus {
  color: var(--p2) !important;
}

input[type="search"]:focus::placeholder {
  color: var(--p1) !important;
}

input[type="search"]::placeholder {
  color: var(--a2);
}

nav button {
  background: none;
  border: none;
  color: inherit;
  fill: currentColor;
  font-size: 1em;
  font-weight: bold;
  display: block;
  line-height: inherit;
  width: 100%;
}

hr {
  margin-top: 0.25em;
  border: 1px var(--hl) solid;
}

#content {
  height: 100vh;
  background: var(--bg);
  display: inline-block;
  padding: 2em 4em;
  overflow: auto;
  width: 75vw;
}

button, a {
  background: none;
  color: var(--a1);
  font-size: 0.75em;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  border-radius: var(--br);
  border: none;
  transition: background 200ms ease-in-out;
}

button:hover, a:hover {
  background: var(--a2);
}